mixin catalog(breadcrumbsData, title, desc, tags, catalogData)
  section.catalog&attributes(attributes)
    .narrow-container
      +breadcrumbs(breadcrumbsData)
      h1.catalog__title= title
      .catalog__desc
        p= desc
    .container
      .catalog__inner
        form.catalog__filter(action="#")
          .catalog__filter-top
            .catalog__tags
              each item, index in tags
                .catalog__tag
                  input.catalog__tag-radio.visually-hidden(type="radio" name="catalogTags" id=`catalogTag${index}`)
                  label.catalog__tag-label.button.button--medium.button--bordered(for=`catalogTag${index}`)= item.value
            .catalog__buttons
              .catalog__search
                button.catalog__search-button.button.button--icon.button--bordered
                  +icon-multi('search-icon')
                input.catalog__search-input(type="text" name="catalogSearch" id="catalogSearch" aria-label="Поиск мероприятия")
              .catalog__date-button.button.button--icon.button--bordered
                +icon-multi('date-icon')
              .catalog__grid-buttons
                button.catalog__grid-button.button.button--icon.button--white
                  +icon-multi('grid-tile-icon')
                button.catalog__grid-button.button.button--icon.button--white
                  +icon-multi('grid-list-icon')
          .catalog__filter-bottom
            .cotalog__filter-bottom-content
              .catalog__subtags
                each item, index in tags[0].subtags
                  .catalog__subtag
                    input.catalog__subtag-radio.visually-hidden(type="checkbox" name=`catalogSubtag${index}` id=`catalogSubtag${index}`)
                    label.catalog__subtag-label(for=`catalogSubtag${index}`)
                      span= item.value
                      +icon-multi('cross-icon')
        ul.catalog__list
          for item in catalogData
            li.catalog__item
              +catalog-card(item.start, item.meta, item.title, item.text, item.markets, item.buttonText, item.record)
        button.catalog__button.button.button--big.button--grey
          | Показать еще
