mixin catalog(breadcrumbsData, title, desc, tags, catalogData)
  section.catalog&attributes(attributes)
    .narrow-container
      +breadcrumbs(breadcrumbsData)
      h1.catalog__title= title
      .catalog__desc
        p= desc
    .container
      .catalog__inner.js-more-button-container
        form.catalog__filter.js-tabs-container(action="#" data-no-tablet=true)
          .catalog__filter-top
            .catalog__tags-block
              .catalog__tags.js-more-button-container.js-more-button-row-container(data-tablet)
                each item, index in tags
                  .catalog__tag.js-more-button-item.js-more-button-row-item
                    input.catalog__tag-radio.visually-hidden(type="radio" name="catalogTags" id=`catalogTag${index}`)
                    label.catalog__tag-label.button.button--medium.button--bordered.js-tab(for=`catalogTag${index}` data-href=`catalogTab${index}` data-count=0)= item.value
                button.catalog__tag-more-button.button.button--medium.button--bordered.js-more-button.js-more-button-row(data-count=5 type="button")
                  span Ещё
                  +icon-multi('arrow-down')
              button.catalog__tags-more.button.button--icon.button--bordered(type="button")
                +icon-multi('elipsis-icon')
            .catalog__buttons
              .catalog__search
                button.catalog__search-button.button.button--icon.button--bordered(type="button")
                  +icon-multi('search-icon')
                .catalog__search-input-block
                  +icon-multi('search-icon')
                  input.catalog__search-input.input.input--white.input--small(type="text" name="catalogSearch" id="catalogSearch" placeholder="Поиск мероприятия" aria-label="Поиск мероприятия")
                  button.catalog__search-reset(type="button")
                    +icon-multi('cross-icon')
              button.catalog__date-button.button.button--icon.button--bordered.js-tab(type="button" data-href="catalogDate")
                +icon-multi('date-icon')
                +icon-multi('cross-icon')
              .catalog__grid-buttons
                button.catalog__grid-button.button.button--icon.button--white.active(type="button" data-modification="" data-modification-cards="")
                  +icon-multi('grid-tile-icon')
                button.catalog__grid-button.button.button--icon.button--white(type="button" data-modification="catalog__list--list" data-modification-cards="catalog-card--row")
                  +icon-multi('grid-list-icon')
          .catalog__filter-bottom
            each tag, index in tags
              .catalog__filter-bottom-content.js-tab-content(data-id=`catalogTab${index}`)
                .catalog__subtags.js-more-button-container
                  each subtag, i in tag.subtags
                    .catalog__subtag.js-more-button-item
                      input.catalog__subtag-radio.visually-hidden(type="checkbox" name=`catalogSubtag${index}-${i}` id=`catalogSubtag${index}-${i}`)
                      label.catalog__subtag-label(for=`catalogSubtag${index}-${i}`)
                        span= subtag.value
                        +icon-multi('cross-icon')
                  .catalog__subtag-more-button.js-more-button(data-count=6)
                    | + #[span.js-more-button-surplus 0]
            .catalog__filter-bottom-content.js-tab-content(data-id=`catalogDate`)
              .catalog__date.js-tabs-container
                .catalog__date-tabs.js-tabs-scroll
                  each item, index in catalogDates
                    .catalog__date-tab
                      input.catalog__date-radio.visually-hidden(type="radio" name="catalogDates" id=`catalogDate${index}`)
                      label(class=`catalog__date-label js-tab${item.active ? ' tab-active' : ""}` for=`catalogDate${index}` data-href=`catalogMonths${index}`)= item.value
                .catalog__date-contents
                  each item, index in catalogDates
                    ul(class=`catalog__months js-tab-content${item.active ? ' active' : ""}` data-id=`catalogMonths${index}`)
                      each elem, i in item.months
                        li.catalog__month
                          input.catalog__month-checkbox.visually-hidden(type="checkbox" name=`catalogMonth${index}-${i}` id=`catalogMonth${index}-${i}`)
                          label.catalog__month-label(for=`catalogMonth${index}-${i}`)
                            span= elem.value
                            +icon-multi('cross-icon')
        ul.catalog__list
          for item in catalogData
            li.catalog__item.js-more-button-item
              +catalog-card(item.start, item.meta, item.title, item.text, item.markets, item.buttonText, item.record)
        button.catalog__button.button.button--big.button--grey.js-more-button(data-count=6 data-mobile-count=3)
          | Показать еще
