mixin catalog-card(start, meta, title, text, markets, buttonText, record, mod, buttonLink)
  article(class=`catalog-card${mod ? ' ' + mod : ""}`)
    header.catalog-card__header
      .catalog-card__meta-block
        if record
          .catalog-card__record.card-tag.card-tag--yellow= record
        else if start
          .catalog-card__start.card-tag.card-tag--white= start
        .catalog-card__meta
          for item in meta
            .catalog-card__meta-item.card-tag.card-tag--transparent
              if item.icon
                +imgLazy(item.icon, "Иконка мета тега")
              span= item.text
      h3.catalog-card__title
        a(href="#")= title
      span.catalog-card__title.catalog-card__title--start= start
      span.catalog-card__day Понедельник
    .catalog-card__body
      h3.catalog-card__title.catalog-card__title--right
        a(href="#")= title
      p.catalog-card__text= text
      .catalog-card__footer
        ul.catalog-card__markets.js-more-button-row-container
          for item in markets
            li.catalog-card__market.button.button--small.button--border-grey.js-more-button-row-item= item.value
          button.catalog-card__market-more-button.button.button--small.button--border-grey.js-more-button-row
            | + #[span.js-more-button-row-surplus 0]
        if buttonLink
          a.catalog-card__button.button.button--medium.button--yellow(href=buttonLink)= buttonText
        else
          button.catalog-card__button.button.button--medium.button--yellow(data-path="event")= buttonText
