mixin imgLazy(src, alt)
  img(class="lazyload" data-src="assets/images/" + `${src}` alt=alt)&attributes(attributes)

mixin pictureLazy(src, alt, mobileSrc)
  - const srcParts = src.split(".")
  - const [srcFirstPart, extname] = srcParts

  - const mobileSrcParts = mobileSrc ? mobileSrc.split(".") : false
  - const [mobileSrcFirstPart, mobileExtname] = mobileSrc ? mobileSrcParts : ['', '']

  picture
    if mobileSrc
      source(type="image/webp" data-srcset="assets/images/" + `${mobileSrcFirstPart}.webp` media="(max-width: 768px)" alt=alt)
      source(data-srcset="assets/images/" + `${mobileSrcFirstPart}.${mobileExtname}` media="(max-width: 768px)" alt=alt)
    source(type="image/webp" data-srcset="assets/images/" + `${srcFirstPart}.webp` alt=alt)
    img(class="lazyload" data-src="assets/images/" +`${srcFirstPart}.${extname}` alt=alt)&attributes(attributes)


mixin picture(src, alt)
  - const srcParts2 = src.split(".")
  - const [srcFirstPart2, extname2] = srcParts2

  picture
    source(type="image/webp" srcset="assets/images/" + `${srcFirstPart2}.webp` alt=alt)
    img(src="assets/images/" + `${srcFirstPart2}.${extname2}` alt=alt)&attributes(attributes)
