-
  const menuTop = [
    {
      text: "О компании"
    },
    {
      text: "Мероприятия"
    },
    {
      text: "Пресс-центр"
    },
    {
      text: "Контакты"
    },
  ]

-
  const menuBottom = [
    {
      text: "Услуги"
    },
    {
      text: "Продукты"
    },
    {
      text: "Проекты"
    },
    {
      text: "RDV Маркет"
    },
  ]

-
  const servicesSubtabs = [
    {
      text: "Внедрение 1С",
      active: true,
      submenu: [
        {
          title: "ERP решения",
          links: [
            {
              name: "Внедрение ERP систем",
              text: "Флагманское решение фирмы 1С для управления продажами, производством, закупками, планирование и ведения РСБУ и УУ",
            },
            {
              name: "Переход с 1С УПП на 1С ERP",
              text: "1С УПП прекращает поддерживаться фирмой 1С с 2026г. Более 60% компаний уже перешли на ERP и применяют современные ИТ-технологии для развития бизнеса",
            },
            {
              name: "Переход с SAP, Axapta и Oracle на 1С:ERP",
              text: "Импортозамещение зарубежных ERP систем на российское ПО. Поможем с построением новой архитектуры модулей и систем, обеспечим поэтапный переход.",
            },
          ]
        },
        {
          title: "Управление документооборотом",
          links: [
            {
              name: "Документооборот",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "Складской учет и логистика",
          links: [
            {
              name: "Складские процессы (WMS)",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "CRM",
          links: [
            {
              name: "CRM (маркетинг, продажи, сервис)",
              text: "Сквозные процессы работы с клиентом от первого касания до организации процесса продаж и сервисного обслуживания",
            }
          ]
        },
        {
          title: "Финансовый учет",
          links: [
            {
              name: "Управленческий учет",
              text: "Формирование ежемесячной внутренней отчетности для акционеров, банков, руководителей до 10 числа каждого месяца",
            },
            {
              name: "МСФО и корпоративная отчетность",
              text: "Полноценное ведение учета в соответствии со стандартами IFRS, формирование 4 форм отчетности и необходимых расшифровок",
            },
            {
              name: "Бюджетирование",
              text: "Операционное планирование доходов и расходов подразделений в натуральных и суммовых показателях, сбор план-факта",
            },
            {
              name: "Казначейство",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            },
            {
              name: "Сближение учетных политик РСБУ и УУ",
              text: "Сокращение расходов финансовой службы за счет унификации учетных принципов, существенное сокращение сроков при подготовке упр. отчетности",
            },
            {
              name: "Расчет себестоимости",
              text: "Методология расчета себестоимости в продуктах 1С: настройка прямых и распределяемых расходов, инструкции для корректного учета и закрытия месяца",
            },
          ]
        },
        {
          title: "Разработка системы расчетов начислений",
          links: [
            {
              name: "Биллинговые B2B системы",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            }
          ]
        },
        {
          title: "Бухгалтерский и налоговый учёт",
          links: [
            {
              name: "Бухгалтерский учет",
              text: "Единая система для организации учета и формирования налоговой отчетности в рамках актуальных законов и точно в срок",
            }
          ]
        },
        {
          title: "Кадровый учет",
          links: [
            {
              name: "Кадровый учет и зарплата",
              text: "Поддержка актуального законодательства для ведения кадрового учета, расчета заработной платы, налогов, расчет резервов, управленческой отчетности",
            },
            {
              name: "1С:Кабинет сотрудника",
              text: "Упростим работу по согласованию отпусков, выдаче справок, кадровому документообороту с удаленными сотрудниками",
            },
          ]
        },
        {
          title: "Разработка собственных решений",
          links: [
            {
              name: "Заказные решения",
              text: "Разработка новых модулей, ноу-хау систем индивидуально под клиента",
            },
            {
              name: "Запуск новых darkstore",
              text: "Комплекс систем для организации быстрой доставки до покупателя в течении 15-30 минут",
            },
          ]
        },
        {
          title: "Инфраструктура для 1С",
          links: [
            {
              name: "Перевод 1С на Linux и PostgreSQL",
              text: "Переведем 1С с Microsoft на ОС Linux и СУБД PostgreSQL без остановки текущих процессов",
            },
            {
              name: "Расчет требований к серверам для запуска 1С (сайзинг)",
              text: "Подбор серверов для комфортной работы пользователей в 1С. Оптимальное соотношение бюджета на сервера, скорости работы, методологии и архитектуры 1С.",
            },
          ]
        },
      ]
    },
    {
      text: "Интеграция с маркетплейсами",
      submenu: [
        {
          title: "ERP решения",
          links: [
            {
              name: "Внедрение ERP систем",
              text: "Флагманское решение фирмы 1С для управления продажами, производством, закупками, планирование и ведения РСБУ и УУ",
            },
            {
              name: "Переход с 1С УПП на 1С ERP",
              text: "1С УПП прекращает поддерживаться фирмой 1С с 2026г. Более 60% компаний уже перешли на ERP и применяют современные ИТ-технологии для развития бизнеса",
            },
            {
              name: "Переход с SAP, Axapta и Oracle на 1С:ERP",
              text: "Импортозамещение зарубежных ERP систем на российское ПО. Поможем с построением новой архитектуры модулей и систем, обеспечим поэтапный переход.",
            },
          ]
        },
        {
          title: "Управление документооборотом",
          links: [
            {
              name: "Документооборот",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "Складской учет и логистика",
          links: [
            {
              name: "Складские процессы (WMS)",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "CRM",
          links: [
            {
              name: "CRM (маркетинг, продажи, сервис)",
              text: "Сквозные процессы работы с клиентом от первого касания до организации процесса продаж и сервисного обслуживания",
            }
          ]
        },
        {
          title: "Финансовый учет",
          links: [
            {
              name: "Управленческий учет",
              text: "Формирование ежемесячной внутренней отчетности для акционеров, банков, руководителей до 10 числа каждого месяца",
            },
            {
              name: "МСФО и корпоративная отчетность",
              text: "Полноценное ведение учета в соответствии со стандартами IFRS, формирование 4 форм отчетности и необходимых расшифровок",
            },
            {
              name: "Бюджетирование",
              text: "Операционное планирование доходов и расходов подразделений в натуральных и суммовых показателях, сбор план-факта",
            },
            {
              name: "Казначейство",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            },
            {
              name: "Сближение учетных политик РСБУ и УУ",
              text: "Сокращение расходов финансовой службы за счет унификации учетных принципов, существенное сокращение сроков при подготовке упр. отчетности",
            },
            {
              name: "Расчет себестоимости",
              text: "Методология расчета себестоимости в продуктах 1С: настройка прямых и распределяемых расходов, инструкции для корректного учета и закрытия месяца",
            },
          ]
        },
        {
          title: "Разработка системы расчетов начислений",
          links: [
            {
              name: "Биллинговые B2B системы",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            }
          ]
        },
        {
          title: "Бухгалтерский и налоговый учёт",
          links: [
            {
              name: "Бухгалтерский учет",
              text: "Единая система для организации учета и формирования налоговой отчетности в рамках актуальных законов и точно в срок",
            }
          ]
        },
        {
          title: "Кадровый учет",
          links: [
            {
              name: "Кадровый учет и зарплата",
              text: "Поддержка актуального законодательства для ведения кадрового учета, расчета заработной платы, налогов, расчет резервов, управленческой отчетности",
            },
            {
              name: "1С:Кабинет сотрудника",
              text: "Упростим работу по согласованию отпусков, выдаче справок, кадровому документообороту с удаленными сотрудниками",
            },
          ]
        },
        {
          title: "Разработка собственных решений",
          links: [
            {
              name: "Заказные решения",
              text: "Разработка новых модулей, ноу-хау систем индивидуально под клиента",
            },
            {
              name: "Запуск новых darkstore",
              text: "Комплекс систем для организации быстрой доставки до покупателя в течении 15-30 минут",
            },
          ]
        },
        {
          title: "Инфраструктура для 1С",
          links: [
            {
              name: "Перевод 1С на Linux и PostgreSQL",
              text: "Переведем 1С с Microsoft на ОС Linux и СУБД PostgreSQL без остановки текущих процессов",
            },
            {
              name: "Расчет требований к серверам для запуска 1С (сайзинг)",
              text: "Подбор серверов для комфортной работы пользователей в 1С. Оптимальное соотношение бюджета на сервера, скорости работы, методологии и архитектуры 1С.",
            },
          ]
        },
      ]
    },
    {
      text: "Поддержка и развитие систем",
      submenu: [
        {
          title: "ERP решения",
          links: [
            {
              name: "Внедрение ERP систем",
              text: "Флагманское решение фирмы 1С для управления продажами, производством, закупками, планирование и ведения РСБУ и УУ",
            },
            {
              name: "Переход с 1С УПП на 1С ERP",
              text: "1С УПП прекращает поддерживаться фирмой 1С с 2026г. Более 60% компаний уже перешли на ERP и применяют современные ИТ-технологии для развития бизнеса",
            },
            {
              name: "Переход с SAP, Axapta и Oracle на 1С:ERP",
              text: "Импортозамещение зарубежных ERP систем на российское ПО. Поможем с построением новой архитектуры модулей и систем, обеспечим поэтапный переход.",
            },
          ]
        },
        {
          title: "Управление документооборотом",
          links: [
            {
              name: "Документооборот",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "Складской учет и логистика",
          links: [
            {
              name: "Складские процессы (WMS)",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "CRM",
          links: [
            {
              name: "CRM (маркетинг, продажи, сервис)",
              text: "Сквозные процессы работы с клиентом от первого касания до организации процесса продаж и сервисного обслуживания",
            }
          ]
        },
        {
          title: "Финансовый учет",
          links: [
            {
              name: "Управленческий учет",
              text: "Формирование ежемесячной внутренней отчетности для акционеров, банков, руководителей до 10 числа каждого месяца",
            },
            {
              name: "МСФО и корпоративная отчетность",
              text: "Полноценное ведение учета в соответствии со стандартами IFRS, формирование 4 форм отчетности и необходимых расшифровок",
            },
            {
              name: "Бюджетирование",
              text: "Операционное планирование доходов и расходов подразделений в натуральных и суммовых показателях, сбор план-факта",
            },
            {
              name: "Казначейство",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            },
            {
              name: "Сближение учетных политик РСБУ и УУ",
              text: "Сокращение расходов финансовой службы за счет унификации учетных принципов, существенное сокращение сроков при подготовке упр. отчетности",
            },
            {
              name: "Расчет себестоимости",
              text: "Методология расчета себестоимости в продуктах 1С: настройка прямых и распределяемых расходов, инструкции для корректного учета и закрытия месяца",
            },
          ]
        },
        {
          title: "Разработка системы расчетов начислений",
          links: [
            {
              name: "Биллинговые B2B системы",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            }
          ]
        },
        {
          title: "Бухгалтерский и налоговый учёт",
          links: [
            {
              name: "Бухгалтерский учет",
              text: "Единая система для организации учета и формирования налоговой отчетности в рамках актуальных законов и точно в срок",
            }
          ]
        },
        {
          title: "Кадровый учет",
          links: [
            {
              name: "Кадровый учет и зарплата",
              text: "Поддержка актуального законодательства для ведения кадрового учета, расчета заработной платы, налогов, расчет резервов, управленческой отчетности",
            },
            {
              name: "1С:Кабинет сотрудника",
              text: "Упростим работу по согласованию отпусков, выдаче справок, кадровому документообороту с удаленными сотрудниками",
            },
          ]
        },
        {
          title: "Разработка собственных решений",
          links: [
            {
              name: "Заказные решения",
              text: "Разработка новых модулей, ноу-хау систем индивидуально под клиента",
            },
            {
              name: "Запуск новых darkstore",
              text: "Комплекс систем для организации быстрой доставки до покупателя в течении 15-30 минут",
            },
          ]
        },
        {
          title: "Инфраструктура для 1С",
          links: [
            {
              name: "Перевод 1С на Linux и PostgreSQL",
              text: "Переведем 1С с Microsoft на ОС Linux и СУБД PostgreSQL без остановки текущих процессов",
            },
            {
              name: "Расчет требований к серверам для запуска 1С (сайзинг)",
              text: "Подбор серверов для комфортной работы пользователей в 1С. Оптимальное соотношение бюджета на сервера, скорости работы, методологии и архитектуры 1С.",
            },
          ]
        },
      ]
    },
    {
      text: "Разработка нового маркетплейса",
      submenu: [
        {
          title: "ERP решения",
          links: [
            {
              name: "Внедрение ERP систем",
              text: "Флагманское решение фирмы 1С для управления продажами, производством, закупками, планирование и ведения РСБУ и УУ",
            },
            {
              name: "Переход с 1С УПП на 1С ERP",
              text: "1С УПП прекращает поддерживаться фирмой 1С с 2026г. Более 60% компаний уже перешли на ERP и применяют современные ИТ-технологии для развития бизнеса",
            },
            {
              name: "Переход с SAP, Axapta и Oracle на 1С:ERP",
              text: "Импортозамещение зарубежных ERP систем на российское ПО. Поможем с построением новой архитектуры модулей и систем, обеспечим поэтапный переход.",
            },
          ]
        },
        {
          title: "Управление документооборотом",
          links: [
            {
              name: "Документооборот",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "Складской учет и логистика",
          links: [
            {
              name: "Складские процессы (WMS)",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "CRM",
          links: [
            {
              name: "CRM (маркетинг, продажи, сервис)",
              text: "Сквозные процессы работы с клиентом от первого касания до организации процесса продаж и сервисного обслуживания",
            }
          ]
        },
        {
          title: "Финансовый учет",
          links: [
            {
              name: "Управленческий учет",
              text: "Формирование ежемесячной внутренней отчетности для акционеров, банков, руководителей до 10 числа каждого месяца",
            },
            {
              name: "МСФО и корпоративная отчетность",
              text: "Полноценное ведение учета в соответствии со стандартами IFRS, формирование 4 форм отчетности и необходимых расшифровок",
            },
            {
              name: "Бюджетирование",
              text: "Операционное планирование доходов и расходов подразделений в натуральных и суммовых показателях, сбор план-факта",
            },
            {
              name: "Казначейство",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            },
            {
              name: "Сближение учетных политик РСБУ и УУ",
              text: "Сокращение расходов финансовой службы за счет унификации учетных принципов, существенное сокращение сроков при подготовке упр. отчетности",
            },
            {
              name: "Расчет себестоимости",
              text: "Методология расчета себестоимости в продуктах 1С: настройка прямых и распределяемых расходов, инструкции для корректного учета и закрытия месяца",
            },
          ]
        },
        {
          title: "Разработка системы расчетов начислений",
          links: [
            {
              name: "Биллинговые B2B системы",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            }
          ]
        },
        {
          title: "Бухгалтерский и налоговый учёт",
          links: [
            {
              name: "Бухгалтерский учет",
              text: "Единая система для организации учета и формирования налоговой отчетности в рамках актуальных законов и точно в срок",
            }
          ]
        },
        {
          title: "Кадровый учет",
          links: [
            {
              name: "Кадровый учет и зарплата",
              text: "Поддержка актуального законодательства для ведения кадрового учета, расчета заработной платы, налогов, расчет резервов, управленческой отчетности",
            },
            {
              name: "1С:Кабинет сотрудника",
              text: "Упростим работу по согласованию отпусков, выдаче справок, кадровому документообороту с удаленными сотрудниками",
            },
          ]
        },
        {
          title: "Разработка собственных решений",
          links: [
            {
              name: "Заказные решения",
              text: "Разработка новых модулей, ноу-хау систем индивидуально под клиента",
            },
            {
              name: "Запуск новых darkstore",
              text: "Комплекс систем для организации быстрой доставки до покупателя в течении 15-30 минут",
            },
          ]
        },
        {
          title: "Инфраструктура для 1С",
          links: [
            {
              name: "Перевод 1С на Linux и PostgreSQL",
              text: "Переведем 1С с Microsoft на ОС Linux и СУБД PostgreSQL без остановки текущих процессов",
            },
            {
              name: "Расчет требований к серверам для запуска 1С (сайзинг)",
              text: "Подбор серверов для комфортной работы пользователей в 1С. Оптимальное соотношение бюджета на сервера, скорости работы, методологии и архитектуры 1С.",
            },
          ]
        },
      ]
    },
    {
      text: "Интеграции с поставщиками и заказчиками",
      submenu: [
        {
          title: "ERP решения",
          links: [
            {
              name: "Внедрение ERP систем",
              text: "Флагманское решение фирмы 1С для управления продажами, производством, закупками, планирование и ведения РСБУ и УУ",
            },
            {
              name: "Переход с 1С УПП на 1С ERP",
              text: "1С УПП прекращает поддерживаться фирмой 1С с 2026г. Более 60% компаний уже перешли на ERP и применяют современные ИТ-технологии для развития бизнеса",
            },
            {
              name: "Переход с SAP, Axapta и Oracle на 1С:ERP",
              text: "Импортозамещение зарубежных ERP систем на российское ПО. Поможем с построением новой архитектуры модулей и систем, обеспечим поэтапный переход.",
            },
          ]
        },
        {
          title: "Управление документооборотом",
          links: [
            {
              name: "Документооборот",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "Складской учет и логистика",
          links: [
            {
              name: "Складские процессы (WMS)",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "CRM",
          links: [
            {
              name: "CRM (маркетинг, продажи, сервис)",
              text: "Сквозные процессы работы с клиентом от первого касания до организации процесса продаж и сервисного обслуживания",
            }
          ]
        },
        {
          title: "Финансовый учет",
          links: [
            {
              name: "Управленческий учет",
              text: "Формирование ежемесячной внутренней отчетности для акционеров, банков, руководителей до 10 числа каждого месяца",
            },
            {
              name: "МСФО и корпоративная отчетность",
              text: "Полноценное ведение учета в соответствии со стандартами IFRS, формирование 4 форм отчетности и необходимых расшифровок",
            },
            {
              name: "Бюджетирование",
              text: "Операционное планирование доходов и расходов подразделений в натуральных и суммовых показателях, сбор план-факта",
            },
            {
              name: "Казначейство",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            },
            {
              name: "Сближение учетных политик РСБУ и УУ",
              text: "Сокращение расходов финансовой службы за счет унификации учетных принципов, существенное сокращение сроков при подготовке упр. отчетности",
            },
            {
              name: "Расчет себестоимости",
              text: "Методология расчета себестоимости в продуктах 1С: настройка прямых и распределяемых расходов, инструкции для корректного учета и закрытия месяца",
            },
          ]
        },
        {
          title: "Разработка системы расчетов начислений",
          links: [
            {
              name: "Биллинговые B2B системы",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            }
          ]
        },
        {
          title: "Бухгалтерский и налоговый учёт",
          links: [
            {
              name: "Бухгалтерский учет",
              text: "Единая система для организации учета и формирования налоговой отчетности в рамках актуальных законов и точно в срок",
            }
          ]
        },
        {
          title: "Кадровый учет",
          links: [
            {
              name: "Кадровый учет и зарплата",
              text: "Поддержка актуального законодательства для ведения кадрового учета, расчета заработной платы, налогов, расчет резервов, управленческой отчетности",
            },
            {
              name: "1С:Кабинет сотрудника",
              text: "Упростим работу по согласованию отпусков, выдаче справок, кадровому документообороту с удаленными сотрудниками",
            },
          ]
        },
        {
          title: "Разработка собственных решений",
          links: [
            {
              name: "Заказные решения",
              text: "Разработка новых модулей, ноу-хау систем индивидуально под клиента",
            },
            {
              name: "Запуск новых darkstore",
              text: "Комплекс систем для организации быстрой доставки до покупателя в течении 15-30 минут",
            },
          ]
        },
        {
          title: "Инфраструктура для 1С",
          links: [
            {
              name: "Перевод 1С на Linux и PostgreSQL",
              text: "Переведем 1С с Microsoft на ОС Linux и СУБД PostgreSQL без остановки текущих процессов",
            },
            {
              name: "Расчет требований к серверам для запуска 1С (сайзинг)",
              text: "Подбор серверов для комфортной работы пользователей в 1С. Оптимальное соотношение бюджета на сервера, скорости работы, методологии и архитектуры 1С.",
            },
          ]
        },
      ]
    },
    {
      text: "Внедрение CRM (BPMSoft)",
      submenu: [
        {
          title: "ERP решения",
          links: [
            {
              name: "Внедрение ERP систем",
              text: "Флагманское решение фирмы 1С для управления продажами, производством, закупками, планирование и ведения РСБУ и УУ",
            },
            {
              name: "Переход с 1С УПП на 1С ERP",
              text: "1С УПП прекращает поддерживаться фирмой 1С с 2026г. Более 60% компаний уже перешли на ERP и применяют современные ИТ-технологии для развития бизнеса",
            },
            {
              name: "Переход с SAP, Axapta и Oracle на 1С:ERP",
              text: "Импортозамещение зарубежных ERP систем на российское ПО. Поможем с построением новой архитектуры модулей и систем, обеспечим поэтапный переход.",
            },
          ]
        },
        {
          title: "Управление документооборотом",
          links: [
            {
              name: "Документооборот",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "Складской учет и логистика",
          links: [
            {
              name: "Складские процессы (WMS)",
              text: "Организуем процессы работы с договорами и согласование корпоративных документов по вашим бизнес-процессам",
            }
          ]
        },
        {
          title: "CRM",
          links: [
            {
              name: "CRM (маркетинг, продажи, сервис)",
              text: "Сквозные процессы работы с клиентом от первого касания до организации процесса продаж и сервисного обслуживания",
            }
          ]
        },
        {
          title: "Финансовый учет",
          links: [
            {
              name: "Управленческий учет",
              text: "Формирование ежемесячной внутренней отчетности для акционеров, банков, руководителей до 10 числа каждого месяца",
            },
            {
              name: "МСФО и корпоративная отчетность",
              text: "Полноценное ведение учета в соответствии со стандартами IFRS, формирование 4 форм отчетности и необходимых расшифровок",
            },
            {
              name: "Бюджетирование",
              text: "Операционное планирование доходов и расходов подразделений в натуральных и суммовых показателях, сбор план-факта",
            },
            {
              name: "Казначейство",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            },
            {
              name: "Сближение учетных политик РСБУ и УУ",
              text: "Сокращение расходов финансовой службы за счет унификации учетных принципов, существенное сокращение сроков при подготовке упр. отчетности",
            },
            {
              name: "Расчет себестоимости",
              text: "Методология расчета себестоимости в продуктах 1С: настройка прямых и распределяемых расходов, инструкции для корректного учета и закрытия месяца",
            },
          ]
        },
        {
          title: "Разработка системы расчетов начислений",
          links: [
            {
              name: "Биллинговые B2B системы",
              text: "Организация процесса краткосрочного планирования платежей, бюджетный контроль, согласование заявок и реестров, платежный календарь, интеграция с банками",
            }
          ]
        },
        {
          title: "Бухгалтерский и налоговый учёт",
          links: [
            {
              name: "Бухгалтерский учет",
              text: "Единая система для организации учета и формирования налоговой отчетности в рамках актуальных законов и точно в срок",
            }
          ]
        },
        {
          title: "Кадровый учет",
          links: [
            {
              name: "Кадровый учет и зарплата",
              text: "Поддержка актуального законодательства для ведения кадрового учета, расчета заработной платы, налогов, расчет резервов, управленческой отчетности",
            },
            {
              name: "1С:Кабинет сотрудника",
              text: "Упростим работу по согласованию отпусков, выдаче справок, кадровому документообороту с удаленными сотрудниками",
            },
          ]
        },
        {
          title: "Разработка собственных решений",
          links: [
            {
              name: "Заказные решения",
              text: "Разработка новых модулей, ноу-хау систем индивидуально под клиента",
            },
            {
              name: "Запуск новых darkstore",
              text: "Комплекс систем для организации быстрой доставки до покупателя в течении 15-30 минут",
            },
          ]
        },
        {
          title: "Инфраструктура для 1С",
          links: [
            {
              name: "Перевод 1С на Linux и PostgreSQL",
              text: "Переведем 1С с Microsoft на ОС Linux и СУБД PostgreSQL без остановки текущих процессов",
            },
            {
              name: "Расчет требований к серверам для запуска 1С (сайзинг)",
              text: "Подбор серверов для комфортной работы пользователей в 1С. Оптимальное соотношение бюджета на сервера, скорости работы, методологии и архитектуры 1С.",
            },
          ]
        },
      ]
    },
  ]

header.header.js-tabs-container.fix-block(data-header-tab='true')
  nav.narrow-container
    .header__top
      ul.header__top-menu
        for item in menuTop
          li.header__top-menu-item
            a.header__top-menu-link.link(href="#")= item.text
      a.header__phone.link(href="tel:84951270347")
        | 8 (495) 127-03-47
      a.header__mail.link(href="mailto:info@rdv-it.ru")
       | info@rdv-it.ru
      +socials(["socials-1.svg", "socials-2.svg"])
    .header__bottom
      a.header__logo.link(href="index.html")
        +imgLazy("logo.svg", "Логотип компании")
      p.header__logo-desc
        | ИТ консалтинг и комплексная автоматизация бизнеса
      ul.header__bottom-menu.js-tabs-scroll
        each item, index in menuBottom
          li.header__bottom-menu-item
            button.header__bottom-menu-link.link.js-tab(data-href=`headerTab${index}`)= item.text
      .header__search
        button.header__search-button.button.button--icon.button--grey
          +icon-multi('search-icon')
        form.header__search-form(action="#")
          input.header__search-input.input.input--small.input--bordered.js-reset-input(type="search" name="headerSearch" placeholder='Введите запрос')
          .header__search-icon
            +icon-multi("search-icon")
          button.header__search-reset.js-reset-button(type="reset")
            +icon-multi("cross-icon")
      button.header__button.button.button--medium.button--blue(data-path='event')
        | Оставить заявку
      button.header__burger-button.button.button--icon.button--bordered(data-path='burger')
        +icon-multi('burger-icon')
  .header__tabs-contents
    each item, index in menuBottom
      .header__tab-content.js-tab-content(data-id=`headerTab${index}`)
        .narrow-container
          .header__tab-wrapper.js-tabs-container(data-tabs-like-radio='true')
            ul.header__subtabs
              each item, index in servicesSubtabs
                li(class=`header__subtab${item.active ? ' tab-active' : ''} js-tab` data-href=`headerSubtab${index}`)
                  span.header__subtab-text= item.text
                  +icon-multi('button-arrow')
            .header__subtabs-contents
              each item, index in servicesSubtabs
                div(class=`header__subtab-content${item.active ? ' active' : ''} js-tab-content` data-id=`headerSubtab${index}`)
                  ul.header__submenu
                    for it in item.submenu
                      li.header__submenu-item
                        h4.header__submenu-title= it.title
                        ul.header__submenu-links
                          for i in it.links
                            li.header__submenu-link-block
                              a.header__submenu-link(href="#")= i.name
                              p.header__submenu-link-text= i.text

