.modal__container(data-target="event").modal-event
  .modal__content
    button.button-reset.modal__close-btn.modal-close(type="button")
      span
      span
    h3.modal-event__title
      | Оставьте заявку
    p.modal-event__desc
      | Мы с вами свяжемся и обсудим все детали
    form.modal-event__form(action="#" data-need-validation)
      .modal-event__input-wrapper.input-wrapper
        input.modal-event__input.input.input--big.input--blue(type="text" id="eventName" name="eventName" required data-parsley-pattern="^[а-яА-ЯA-Za-z- ]+[^\s]+$")
        label.modal-event__label(for="eventName")
          | Имя
      .modal-event__input-wrapper.input-wrapper
        input.modal-event__input.input.input--big.input--blue.js-phone-input(type="tel" id="eventPhone" name="eventPhone" required data-parsley-phone)
        label.modal-event__label(for="eventPhone")
          | Телефон
      .modal-event__input-wrapper.modal-event__input-wrapper--big.input-wrapper.input-wrapper--textarea
        textarea.modal-event__textarea.input.input--big.input--blue(id="eventComment" name="eventComment" required)
        label.modal-event__label(for="eventComment")
          | Вопрос или комментарий
      button.modal-event__button.button.button--big.button--yellow
        | Отправить
      +confidence-block("contactsConfidence", "confidence-block--blue")

-
  const modalCatalogTags = [
    {
      value: "1C",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
    {
      value: "Digital",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
    {
      value: "ERP",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
    {
      value: "E-commerce",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
    {
      value: "RDV Маркет",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
    {
      value: "Digital",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
  ]

.modal__container(data-target="tags").modal-tags.js-catalog-modal
  .modal__content
    button.button-reset.modal__close-btn.modal-close(type="button")
      span
      span
    h3.modal-tags__title.js-catalog-modal-title
      | Все теги
    form.modal-tags__form.js-tabs-container
      .modal-tags__contents
        .modal-tags__content.js-tab-content.active(data-id="modalCatalogTags")
          .modal-tags__tags
            each item, index in modalCatalogTags
              button.modal-tags__tag.button.button--medium.button--bordered.js-tab.js-catalog-modal-tag(type="button" data-href=`modalCatalogSubtags${index}` data-count=0)
                span= item.value
          button.modal-tags__tags-button.button.button--medium.button--bordered(type="submit")
            | Применить
        each item, index in modalCatalogTags
          .modal-tags__content.js-tab-content(data-id=`modalCatalogSubtags${index}`)
            ul.modal-tags__subtags
              each ite, i in item.subtags
                li.modal-tags__subtag
                  input.modal-tags__subtag-input.visually-hidden.js-catalog-modal-subtag(type="checkbox" name=`modalCatalogSubtag${index}-${i}` id=`modalCatalogSubtag${index}-${i}`)
                  label.modal-tags__subtag-label(for=`modalCatalogSubtag${index}-${i}`)
                    span= ite.value
                    +icon-multi('cross-icon')
            button.modal-tags__subtags-button.button.button--medium.button--bordered.js-tab.js-catalog-modal-back(type="button" data-href="modalCatalogTags") Применить
            button.modal-tags__subtags-button-reset.button.button--medium.js-catalog-modal-reset(type="button")
              span Очистить все
              +icon-multi('reset-icon')

-
  const modalCatalogMonths = [
    {value: "Январь"},
    {value: "Февраль"},
    {value: "Март"},
    {value: "АПрель"},
    {value: "Май"},
    {value: "Июнь"},
    {value: "Июль"},
    {value: "Август"},
    {value: "Сентябрь"},
    {value: "Октябрь"},
    {value: "Ноябрь"},
    {value: "Декабрь"},
  ]

.modal__container(data-target="dates").modal-dates
  .modal__content
    button.button-reset.modal__close-btn.modal-close(type="button")
      span
      span
    h3.modal-dates__title
      | Календарь
    form.modal-dates__form
      select.modal-dates__select.js-custom-select(name="modalCatalogAge" id="modalCatalogAge")
        option(value="all") Все года
        option(value="2023") 2023
        option(value="2022") 2022
        option(value="2021") 2021
        option(value="2020") 2020
      ul.modal-dates__months
        each item, index in modalCatalogMonths
          li.modal-dates__month
            input.modal-dates__month-input.visually-hidden(type="checkbox" name=`modalCatalogMonth${index}` id=`modalCatalogMonth${index}`)
            label.modal-dates__month-label(for=`modalCatalogMonth${index}`)
              span= item.value
              +icon-multi("cross-icon")
      button.modal-dates__button.button.button--medium.button--bordered Применить
      button.modal-dates__button-reset.button.button--medium(type="reset")
        span Очистить все
        +icon-multi('reset-icon')
